@charset "utf-8";
/* CSS Document */
#container{
	float:center;
	width:900px;
	margin: 0px auto;
	border: 1px solid #999;
	border-width:0px 3px;
	padding:0px 5px;
}
#content{
	border:3px solid #CCC;
	border-radius:5px;
	padding: 10px 5px;
	margin: 0px 0px;
	overflow:hidden;
}
